/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
body{ position:relative;}
#masthead .uabb-creative-menu .sub-menu .uabb-menu-toggle{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    margin-top: 5px;
}
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content:empty{ display: none;}
.makemefull .fl-module-content .uabb-photo-content,
.makemefull .fl-module-content .uabb-photo-content img{ width: 100%;}

#responsive-menu-wrapper #responsive-menu-additional-content .fa{ transform: rotate(90deg); margin-right: 5px;}
#responsive-menu-wrapper #responsive-menu-additional-content .phone{ color: #fff;}

div.fl-page{
    transform: none !important;
}
.fl-page-bar .top-bar-nav li a.phone span:before{
        content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;    
}
.store-opening-hrs > li{
    position: relative;

}
.store-opening-hrs > li > span{
    position: absolute;
    right: 20px!important;
}

.gform_body .gfield input[type=text], .gform_body .gfield textarea{
        text-transform: none!important;
}
#breadcrumbs a{
    color: #428bca!important;
} 
@media (max-width:1080px){
    .fl-page-bar .fl-page-bar-container .fl-page-bar-row .text-left{ width: 30%;}
    .fl-page-bar .fl-page-bar-container .fl-page-bar-row .text-right{ width: 70%;}
    .coretec-sec .fl-module-rich-text .fl-rich-text * {
        font-size: 22px !important;
    }
}
@media (max-width:1024px){
    .coretec-sec .fl-module-rich-text .fl-rich-text * {
        font-size: 22px !important;
    }
}
@media (max-width:992px){
    #masthead .fl-module-uabb-photo .uabb-module-content{ text-align: center;}
    .active-gallery-modal .product-box{ text-align: left;}
    .search_icon {
        display: none;
    }
    .fl-col-group.fl-col-group-responsive-reversed {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        -ms-box-orient: horizontal;
        -webkit-flex-flow: row wrap;
    }
    .fl-col-group.fl-col-group-responsive-reversed .fl-col {
        -webkit-box-flex: 0 0 100%;
        -moz-box-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
        -webkit-box-ordinal-group: 12;
        -moz-box-ordinal-group: 12;
        -ms-flex-order: 12;
        -webkit-order: 12;
        order: 12;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
        -webkit-box-ordinal-group: 11;
        -moz-box-ordinal-group: 11;
        -ms-flex-order: 11;
        -webkit-order: 11;
        order: 11;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {
        -webkit-box-ordinal-group: 10;
        -moz-box-ordinal-group: 10;
        -ms-flex-order: 10;
        -webkit-order: 10;
        order: 10;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {
        -webkit-box-ordinal-group: 9;
        -moz-box-ordinal-group: 9;
        -ms-flex-order: 9;
        -webkit-order: 9;
        order: 9;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {
        -webkit-box-ordinal-group: 8;
        -moz-box-ordinal-group: 8;
        -ms-flex-order: 8;
        -webkit-order: 8;
        order: 8;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {
        -webkit-box-ordinal-group: 7;
        -moz-box-ordinal-group: 7;
        -ms-flex-order: 7;
        -webkit-order: 7;
        order: 7;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {
        -webkit-box-ordinal-group: 6;
        -moz-box-ordinal-group: 6;
        -ms-flex-order: 6;
        -webkit-order: 6;
        order: 6;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {
        -webkit-box-ordinal-group: 5;
        -moz-box-ordinal-group: 5;
        -ms-flex-order: 5;
        -webkit-order: 5;
        order: 5;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {
        -webkit-box-ordinal-group: 4;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 4;
        -webkit-order: 4;
        order: 4;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
        order: 3;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
}
@media (max-width:768px){
    .fl-page-bar .fl-page-bar-container .fl-page-bar-row .text-left{ width: 100%; text-align: center;}
    .fl-page-bar .fl-page-bar-container .fl-page-bar-row .text-right{ display: none;}
    
    .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;}
    #product-list-top-filters .fl-col-group .fl-col{ width: auto !important;}
	button#responsive-menu-button {
    top: 70px !important;
}
}
@media (max-width:767px){    
    .fl-col-small { max-width: 100%;}

    .product-category-row .uabb-new-ib{ max-height: 250px;}

    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: block;}
    .facetwp-per-page, .facetwp-pager{ float: none;}
    .facetwp-per-page, .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: center !important;}
}
@media (max-width: 699px){
    .active-gallery-modal .product-box .fl-button{ margin: 0 auto;}
}
@media (max-width: 600px){
    #wpadminbar{ position: fixed;}
    .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox li label{
        min-width: 100%;
        padding: 0px;
    }
}
@media (max-width: 420px){
    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item .responsive-menu-item-link{
        height: auto;
        line-height: normal;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}